@mixin btnLineExtend($color, $hover){
	border-color: $color !important;
	color: $color;
	&:hover,&:focus{
		color: $hover;
		background: $color;
	}
}

.btn-line{
	background-color: transparent;
	border-width: 1px;
	border-style: solid;
	border-color: #fff;
	color: #fff;
	&:hover,&:focus{
		color: $brand-dark;
		background: #fff;
		box-shadow: 0 3px 3px rgba(0,0,0,0.15);
	}
	
	&.btn-line-primary{
		@include btnLineExtend($brand-primary, #fff);
	}
	&.btn-line-second{
		@include btnLineExtend($brand-second, #fff);
	}
	&.btn-line-default{
		@include btnLineExtend(#fff, #111);
	}
}

.btn-second{
  @include button-variant(#fff, #111, #111);
}

// alerts
.alert-success-line{
	@include alert-variant(transparent, $brand-success, $brand-success);
}
.alert-info-line{
	@include alert-variant(transparent, $brand-info, $brand-info);
}
.alert-danger-line{
	@include alert-variant(transparent, $brand-danger, $brand-danger);
}
.alert-warning-line{
	@include alert-variant(transparent, $brand-warning, $brand-warning);
}