/**
 * Global styles used accross sections
 */

*{
	outline: none !important;
}


// fix to ie, edge
input::-webkit-input-placeholder{
	opacity: 1;
}

body{
	overflow-x: hidden;
	&.modal-open{
		overflow: hidden;
		// fix to iphones scrolling
		@include maxw(xs){
			position: fixed;
			left: 0;
			right: 0;
		}
	}
}


// Ws header home
// ------------------------------------------------
.ws{
	color: #fff;
	height: 100vh;
	position: relative;
	background-position: center center;
	background-size: cover;
	background-image: url('https://hd.unsplash.com/photo-1452421822248-d4c2b47f0c81');
	overflow: hidden;
	&:before{
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0.4);
	}
	.container{
		display: table;
		height: 100%;
		.container-content{
			display: table-cell;
			vertical-align: middle;
			position: relative;
		}
	}
	.scroll-indicator{
		text-align: center;
		position: absolute;
		left: 50%;
		transform:translateX(-50%);
		bottom: 15px;
		z-index: 9;
	}
	@include minw(xs){
		height: 100vh !important;
	}
}