/**
 * Classes to help you in your work
 */
 // text
.upper{
    text-transform: uppercase !important;
}
.capitalize{
    text-transform: capitalize !important;
}
.text-normal{
	text-transform: none !important;
}
.round{
    border-radius: 50% !important;
}

// btn helpers
.btn-square{
    border-radius: 0 !important;
}
.btn-rounded{
    border-radius: 50px !important;
}

// font sizes text
.fz-13{
	font-size: 13px !important;
}
.fz-14{
	font-size: 14px !important;
}
.fz-15{
	font-size: 15px !important;
}
.fz-16{
	font-size: 16px !important;
}

// margins helpers
// margin tops
.mt-0{
	margin-top: 0px !important;
}
.mt-5{
	margin-top: 5px !important;
}
.mt-10{
	margin-top: 10px !important;
}
.mt-15{
	margin-top: 15px !important;
}
.mt-20{
	margin-top: 20px !important;
}
.mt-25{
	margin-top: 25px !important;
}
.mt-30{
	margin-top: 30px !important;
}
.mt-40{
	margin-top: 40px !important;
}

// margin-bottoms
.mb-0{
	margin-bottom: 0px !important;
}
.mb-5{
	margin-bottom: 5px !important;
}
.mb-10{
	margin-bottom: 10px !important;
}
.mb-15{
	margin-bottom: 15px !important;
}
.mb-20{
	margin-bottom: 20px !important;
}
.mb-25{
	margin-bottom: 25px !important;
}
.mb-30{
	margin-bottom: 30px !important;
}
.mb-40{
	margin-bottom: 40px !important;
}

// margin left
.ml-10{
	margin-left: 10px !important;
}
.ml-20{
	margin-left: 20px !important;
}
.ml-30{
	margin-left: 30px !important;
}
.ml-40{
	margin-left: 40px !important;
}

// margin right
.mr-10{
	margin-right: 10px !important;
}
.mr-20{
	margin-right: 20px !important;
}
.mr-30{
	margin-right: 30px !important;
}

// others
.inline{
	display: inline-block !important;
}
.posr{
	position: relative;
}
.no-resize{
    resize: none;
}

// tables
table{
	thead{
		th{
			cursor: pointer;
		}
	}
}
.table-middle{
	tr{
		th,td{
			vertical-align: middle !important;
		}
	}
}
.table-no-border{
	tr{
		th,td{
			border: 0 !important;
		}
	}
}
.table-xs{
	tr{
		th,td{
			padding: 3px !important;
		}
	}
}