// Mixin media all bootstrap based

$mq-xxs: 480px;
$mq-xs: 768px;
$mq-sm: 992px;
$mq-md: 1200px;

$maxw-xxs: "(max-width: "#{$mq-xxs - 1}")";
$maxw-xs: "(max-width: "#{$mq-xs - 1}")";
$maxw-sm: "(max-width: "#{$mq-sm - 1}")";
$maxw-md: "(max-width: "#{$mq-md - 1}")";

$minw-xxs: "(min-width: "#{$mq-xxs}")";
$minw-xs: "(min-width: "#{$mq-xs}")";
$minw-sm: "(min-width: "#{$mq-sm}")";
$minw-md: "(min-width: "#{$mq-md}")";

// Down
// -----------------------------------------
@mixin maxw($breakpoint) {

	@if $breakpoint == xxs {
		@media (max-width: "#{$mq-xxs - 1}") {
			@content;
		}
	}
	@else if $breakpoint == xs {
		@media (max-width: "#{$mq-xs - 1}") {
			@content;
		}
	}
	@else if $breakpoint == sm {
		@media (max-width: "#{$mq-sm - 1}") {
			@content;
		}
	}
	@else if $breakpoint == md {
		@media (max-width: "#{$mq-md - 1}") {
			@content;
		}
	}
	@else {
		@media (max-width: "#{$breakpoint}") {
			@content;
		}
	}
}

// Up
// -----------------------------------------
@mixin minw($breakpoint) {

	@if $breakpoint == xxs {
		@media (min-width: "#{$mq-xxs}") {
			@content;
		}
	}
	@else if $breakpoint == xs {
		@media (min-width: "#{$mq-xs}") {
			@content;
		}
	}
	@else if $breakpoint == sm {
		@media (min-width: "#{$mq-sm}") {
			@content;
		}
	}
	@else if $breakpoint == md {
		@media (min-width: "#{$mq-md}") {
			@content;
		}
	}
	@else {
		@media (min-width: "#{$breakpoint}") {
			@content;
		}
	}
}