// ==== CONFIGURATION ==== //

// Set all your configuration variables here!
// ------------------------------------------------
$theme-name: "App dev";
$theme-uri: "https://github.com/kenyk7";
$theme-author:  "Keny Romero";
$theme-author-uri:  "http://github.com/kenyk7";
$theme-description: "App dev";
$theme-version: "1.0";
$theme-text-domain: "App";


// Images path use css
// ------------------------------------------------
$imagesPath: '../img/';


// Colors themes for use
// ------------------------------------------------
// red
// $brand-primary: #F44336;
// pink
// $brand-primary: #e91e63;
// purple
// $brand-primary: #7B1FA2;
// deep purple
// $brand-primary: #512DA8;
// indigo
// $brand-primary: #303F9F;
// teal
// $brand-primary: #009688;
// deep orange
// $brand-primary: #F4511E;
// blue grey
// $brand-primary: #607d8b;
// yellow
// $brand-primary: #F9A825;
// blue
// $brand-primary: #1976D2;
// brown
// $brand-primary: #795548;
// black
// $brand-primary: #000000;
// red dark
// $brand-primary: #c80c3c;

// Define colors
// ------------------------------------------------
$brand-primary: #303F9F;
$brand-second: #000;

$brand-success: #4caf50;
$brand-info: #00bcd4;
$brand-warning: #f39c12;
$brand-danger: #e74c3c;

$brand-dark: #606c76;

// Background body
// ------------------------------------------------
$body-bg: #fff;


// Grid size
// ------------------------------------------------
$grid-gutter-width: 30px !default;


// Default indigo
// ------------------------------------------------
$font-size-base: 15px !default;
$font-family-sans-serif:  'Lato', sans-serif;
$headings-font-weight: 500 !default;
$font-path: '../fonts/';
$icon-font-path: '../fonts/bootstrap/';


// Navbars
// ------------------------------------------------
$navbar-height: 70px;
$grid-float-breakpoint: 992px;

// Default
$navbar-default-color: #555;
$navbar-default-bg: #fff;
$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-hover-color: darken($navbar-default-link-color, 5%);
$navbar-default-link-active-color: $navbar-default-link-hover-color;

// Inverse
$navbar-inverse-color: #f0f0f0;
$navbar-inverse-bg: $brand-primary;
$navbar-inverse-link-color: $navbar-inverse-color;
$navbar-inverse-link-hover-color: lighten($navbar-inverse-link-color, 5%);
$navbar-inverse-link-active-color: $navbar-inverse-link-hover-color;

// Buttons
// ------------------------------------------------
$btn-default-color: #222 !default;
$btn-default-bg: #fff !default;
$btn-default-border: #ddd !default;


// Breadcrumbs
// ------------------------------------------------
$breadcrumb-padding-vertical: 0px !default;
$breadcrumb-padding-horizontal: 0px !default;
$breadcrumb-bg: $body-bg !default;
$breadcrumb-separator: "\203A" !default;


// Radius
// ------------------------------------------------
$border-radius-small: 2px;
$border-radius-base: 2px;
$border-radius-large: 2px;


// Paddings
// ------------------------------------------------
$padding-base-vertical: 7px;
// $padding-base-horizontal : 20px;
$padding-xs-vertical : 4px;
// $padding-xs-horizontal : 6px;
// $padding-large-vertical : 10px;
// $padding-large-horizontal : 30px;


// States
// ------------------------------------------------
$state-success-text: $brand-success;
$state-info-text: $brand-info;
$state-warning-text: $brand-warning;
$state-danger-text: $brand-danger;


// Alerts
// ------------------------------------------------
$alert-success-text: rgb(255, 255, 255);
$alert-warning-text: rgb(255, 255, 255);
$alert-danger-text: rgb(255, 255, 255);
$alert-info-text: rgb(255, 255, 255);

$alert-success-bg:$brand-success;
$alert-success-border:$brand-success;
$alert-warning-bg:$brand-warning;
$alert-warning-border:$brand-warning;
$alert-danger-bg:$brand-danger;
$alert-danger-border:$brand-danger;
$alert-info-bg:$brand-info;
$alert-info-border:$brand-info;


// Panels
// ------------------------------------------------
$panel-success-text: rgb(255, 255, 255);
$panel-info-text: rgb(255, 255, 255);
$panel-warning-text: rgb(255, 255, 255);
$panel-danger-text: rgb(255, 255, 255);

$panel-success-heading-bg:$brand-success;
$panel-success-border:$brand-success;
$panel-warning-heading-bg:$brand-warning;
$panel-warning-border:$brand-warning;
$panel-danger-heading-bg:$brand-danger;
$panel-danger-border:$brand-danger;
$panel-info-heading-bg:$brand-info;
$panel-info-border:$brand-info;


// Dropdown
// ------------------------------------------------
$dropdown-border : transparent;


// Pagintation
// ------------------------------------------------


// Progress
// ------------------------------------------------
$grid-float-breakpoint: 992px;
$progress-bg: #555;


// Others vars: my vars 
// ------------------------------------------------